.login-page {
  height: 100vh;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  .login-page__button {
    top: 80%;
    transform: translateY(-50%);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 50px;
    display: flex;
    width: 320px;
    align-items: center;
    height: 70px;
    cursor: pointer;
    display: flex;
    box-shadow: 0 12px 22px rgb(0 0 0 / 13%);

    .login-page__text {
      font-family: Rubik,sans-serif;
      text-align: center;
      color: #f8bbb8;
      font-weight: 700;
      font-size: 24px;
      margin: auto;
    }
  }
}