.playlist-footer {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  display: flex;
  height: 100px;
  background-color: #FFFFFF;
  font-family: Rubik,sans-serif;
  width: 1000px;
  bottom: 0;

  .playlist-button {
    background-color: #50496d;
    border-color: #50496d;
    border-radius: 50px;
    display: flex;
    width: 200px;
    min-width: 50px;
    align-items: center;
    height: 50px;
    margin: auto;
    margin-right: 32px;
    cursor: pointer;

    &:hover {
      background-color: #494364;
      border-color: #494364;
    }

    .playlist-button__icon {
      color: #FFFFFF;
      font-size: 20px;
      display: none;
    }

    .playlist-button__text {
      font-family: Rubik,sans-serif;
      font-weight: 700;
      margin: auto;
      color: #FFFFFF;
      user-select: none;
    }
  }
  .playlist-text {
    display: flex;
    flex-direction: column;
    margin-left: 32px;

    .playlist-title {
      color: #50496d;
      font-weight: 700;
      margin: auto 0 8px 0;
    }
    .playlist-subtitle {
      margin-bottom: auto;
    }
  }
}

@media only screen and (min-width: 1120px) {
  .playlist-footer {
    position: fixed;
  }
}

@media only screen and (max-width: 1120px) {
  .playlist-footer {
    margin-bottom: 47px;
    width: 100%;

    .playlist-button {
      width: 50px;

      .playlist-button__icon {
        display: block;
        margin: auto;
      }

      .playlist-button__text {
        display: none;
      }
    }
  }
}