.sidebar {
  min-width: 360px;
  background-color: #FFFFFF;
  box-shadow: 10px 0 30px rgba(0, 0, 0, 0.048);

  .sidebar-logo {
    width: 100px;
  }

  .sidebar-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(58,53,78,.45);

    .sidebar-item__text {
      font-size: 12px;
    }

    &.is-selected,
    &:hover {
      color: #0e0e0f;
    }
  }
}

@media only screen and (max-width: 1120px) {
  .sidebar {
    position: fixed;
    width: 100%;
    height: 64px;
    display: flex;
    bottom: 0;

    .sidebar-logo {
      display: none;
    }

    .sidebar-item {
      margin: auto;

      .sidebar-item__icon {
        font-size: 16px;
      }
    }
  }
}
@media only screen and (min-width: 1120px) {
  .sidebar {
    width: 100px;
    min-width: 100px;
    height: 100%;

    .sidebar-item {
      height: 100px;

      .sidebar-item__icon {
        font-size: 28px;
        margin-bottom: 8px;
      }
    }
  }
}